In [48]:
import json
import pandas as pd
file = "datasets/demanda/datos-demanda-1-2017.json"
FMT = '%Y-%m-%dT%H:%M:%S.%f%z'
data = json.load(open(file))
from typing import List
from datetime import datetime

real       = data["included"][0]["attributes"]
programada = data["included"][1]["attributes"]
prevista   = data["included"][2]["attributes"]

In [49]:
def cleanup(data: List):
    df = pd.DataFrame(data)
    values = df["values"]
    df = df.drop(["values", "description", "color", "type", "magnitude", "composite", "last-update", "title"], axis=1)
    df['value'] = values.apply(lambda x: x['value'])
    df['percentage'] = values.apply(lambda x : x['percentage'])
    df['datetime'] = values.apply(lambda x : datetime.strptime(x['datetime'], FMT))
    max_day = max([x.day for x in df['datetime']])
    new_df = pd.DataFrame()
    for i in range(1, max_day+1):
        print(i)
        day_df = df[df['datetime'] == i]
        # 144 = 6 divisiones de 10 minutos * 24 horas
        if(len(day_df) != 144):
            n_value = to_24(day_df['value'])
            n_percentage = to_24(day_df['percentage'])
            day_df = pd.DataFrame({'value':n_value, 'percentage':n_percentage, 'datetime': [i for _ in range(144)]})
        new_df.append(day_df)
    return new_df
def to_24(values):
    def from_25(dv):
        res = []
        for i in range(1,len(dv)):
            res.append((dv[i-1]+dv[i])/2)
        return res
    def from_23():
        pass
    if len(values)==25:
        return from_25(values)
    if len(values)==23:
        pass

In [50]:
real = cleanup(real)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

In [42]:
real

Empty DataFrame
Columns: []
Index: []

In [17]:
len(real[real['datetime'] == 25])

144

In [ ]:
fechas = pd.to_datetime(real['datetime'], format=FMT)

In [ ]:
real['datetime'] = real['datetime'].apply(lambda x: datetime.strptime(x, FMT))

In [4]:
horas_cambiadas = real['datetime'].apply(lambda x: x.day)

In [7]:
real.iloc(horas_cambiadas[horas_cambiadas==26])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [ ]:
fechas = fechas[fechas.day == 26]

In [18]:
new_df = pd.DataFrame()

In [21]:
new_df.append(real)

      value  percentage  datetime
0     24682    0.333622         1
1     24592    0.333514         1
2     24512    0.333419         1
3     24463    0.333529         1
4     24345    0.332923         1
...     ...         ...       ...
4454  33942    0.335980        31
4455  33268    0.333280        31
4456  32619    0.330691        31
4457  32231    0.329840        31
4458  31460    0.338669        31

[4459 rows x 3 columns]

In [24]:
day_df = pd.DataFrame({'value':(1,2,3), 'percentage':(4,5,6), 'datetime': [i for i in range(7,10)]})

In [25]:
day_df

   value  percentage  datetime
0      1           4         7
1      2           5         8
2      3           6         9